# <center> Welcome to Jupyter Notebooks - Analyzing the Tides </center>
---

<center> ![alt text](https://cdn-images-1.medium.com/letterbox/266/72/50/50/1*wOHyKy6fl3ltcBMNpCvC6Q.png?source=logoAvatar-lo_XrkzqdM0PkJD---95916e268740"Jupyter Notebook Logo")</center>

<center> <font size ="6pt" color = "navyblue"> **Analyzing the Tides** </font> </center>

<center> at Mornington Island, Australia </center>
<br>

<center> **Some reminders about Jupyter Notebook** </center>

Welcome to back to Jupyter Notebooks, your  coding headquarters in science class.  Learning how to code is a lot like learning a new language, the language you will begin to learn today is called _**Python**_.  Python is a language used to write phone applications, program websites, and by scientists for data analysis.  Just like in a foreign language class, you aren't expected to write in paragraphs right away.  
<br>
**Jupyter Notebooks** is a coding tool that helps you learn to "speak" python by breaking code into small parts called **blocks**, writing one block of code is a lot like writing one sentence (if you learn to write enough sentences, you can eventually write paragraphs).
<br>
<br>
The block you are reading right now is called a markdown.  The purpose of a **markdown** is to give you easy to read instructions or explanations between coding blocks.  The grey sections you'll see below are **coding** blocks.  This is where you can edit the code to tell the computer what to do!

<center>Access the coding booklet [here](https://drive.google.com/open?id=1kmdd75RuAx1u10B4Yg1jlMpIhMBBxxXJCNLWgKv1rdg)</center>

# <center> PART 2: Let's gather some star data! </center>
---

The first thing we need to do is import some important instructions for the computer and make sure that it can access our awesome tides data.
<br>
<br>
Press the _**Play Button**_ or press _**Control+Enter**_ to run the code for the 2 boxes for Part 2.  Hopefully, a picture will appear.
<br>
<br>

---
> A popup may apear when your start running the code that says <font color = "red"> **WARNING: This Notebook is not authored by Google**.</font>  Make sure the box is checked that says **Reset all runtimes before running**, Click <font color = "blue"> _**Run Anyway**_</font>, and then <font color = "blue"> _**YES**_ </font> to start coding.
---

In [0]:
# The first pieces of code we need to start with are called 'imports'

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

# These imports contain programming instructions (called 'modules') to read data, plot data, etc.
# You can think of imports like tool boxes. Each tool box contains a different set of tools (modules) to use.

In [0]:
# We need to read some data. Let's use our tool ".read_csv" located in the "pd" import.
data = pd.read_csv("https://github.com/SCPSscience/data/raw/master/tides.csv", names = ["rawData"])

data['height'] = data.rawData.str[13:].astype(float)
data['rawTime'] = data.rawData.str[:12]
dates = pd.to_datetime(data.rawTime.tolist(), format='%d%m%Y%H%M')
tides = pd.Series(data.iloc[:,1].tolist(), dates)

from IPython.display import Image
from IPython.core.display import HTML 
Image(url= 'https://www.geekwithenvy.com/wp-content/uploads/2013/01/OceanTides1.jpg')

**Did a sweet picture of how the Moon's gravitational pull creates the low and high tides?  Awesome, that means all of our tide data has been imported as well!**

# <center> PART 3: Checking Our Data! </center>
---

The tides data set is HUGE! Part 3 shows us how just a glimps of this data.  As always, keep clicking the ***play button*** or pressing **Control + Enter** to keep running your code!

In [0]:
tides.head(8)
# data displays as year-month-day hours:minutes:seconds height_in_meters

### <font color = "magenta"> **Part 3 Questions ** </font color = "magenta">

1. Based on the data in the table how often was the sea level height measured?
<br>
<br>
2. How much did the sea level height change in the time span shown above? (This can be done by changing the numbers in the calculation below, for example, we did 3.000-2.000 meters)

In [0]:
# Calculate the height change below
3.000-2.000

# <center> PART 4 - Graphing the tides on your Birthday in 2014! </center>
---

Run the code below to display the sea level heights for June 1st, 2011.  You can clearly see both the high and low tides.

> The time is set on a 24 hour clock which is sometimes called "Military Time".  For times after noon, just subtract 12 to figure our your normal time.  For example 1800 is really just 6PM.

In [0]:
tides['June 1 2011'].plot(title="Sea level height (m) for June 1 2011")

***I'm pretty sure your birthday in 2014 was not on June 1st, 2011.  Change the code above to display the graph for your birthday in 2014 and run the code.  Don't forget to update the title!***

### <font color = "magenta"> **Part 4 Questions** </font color = "magenta">

3. What feature of the graph shows when high tide occurs?
<br>
<br>
4. How many high tides did you birthday in 2014 have? How many low tides?
<br>
<br>
5. How much time separates a high tide and a low tide?

# <center> PART 5: Graphing the tides for your 2013 Birht Month! </center>
---

Run the code below to display the sea level heights for June 1st, 2011.  You can clearly see all the high and low tides for the entire month!  You might notice that not all high tides and not all low tides look the same.  We will talk about those special tides more in Part 7.

In [0]:
# this plots one month of data
tides['June 2011'].plot(title="Sea level height (m) for June 2011")

***Have a sweet graph for June 2011? Now hange the code above to display the graph for your birthday month in 2013 and run the code.  Don't forget to update the title!***

### <font color = "magenta"> **Part 5 Questions** </font color = "magenta"> 

6.  How many high tides did that month have?
<br>
<br>
7.  What patterns can you identify in the high and low tides across one month?

# <center> PART 6: Graphing Tidal Data from 2011 to 2015 </center>
---

Let's look at our the tides for our entire data set from 2011 to 2015.  Run the data to see what the sea level heights were in Mornington Island, Austraila and answer the questions for Part 6.

In [0]:
# this plots the entire data set
tides.plot(title="Sea level height (m)")

### <font color = "magenta"> **Part 6 Questions** </font color = "magenta"> 

8. When does the data set begin and end? (Include both the month and year in your answer.)
<br>
<br>
9. How are the Januarys similar between each year?
<br>
<br>
10. What can patterns can you identify based on the high tides over the entire data set?

# <center> PART 7: Missing Data & Special Tides </center>
---

<font color = "Red"> **Oh No!** </font> There seems to be a gap in our data! Look at your graph from Part 6... see anything missing!  Use the code below to graph the missing data!

In [0]:
# Look at the graph above and try to find the gap in our data :(
# Find the gap in the data by graphing the correct month where the data was lost. 

tides['June 2011'].plot(title="Sea level height (m) for June 2011")

### <font color = "magenta"> **Part 7 Questions** </font color = "magenta"> 

11. There's a small gap in the data set. Can you make a graph that shows where the missing part is using the coding block above? Which month and year was or missing data from?
<br>
<br>
12. Graph the tides for October 2012 in the coding block above. How could you identify a neap tide or a spring tide for October 2012? (Use the resources below for help.)
<br>
<br>
13. This data comes from Australia which is located in the Southern Hemisphere. How might it be different from data taken in Florida?

[Neap & Spring Tides Resource](http://oceanservice.noaa.gov/education/kits/tides/media/supp_tide06a.html)

[How do the Tides Work? Tutorial Video](https://youtu.be/5ohDG7RqQ9I)

### BONUS QUESTION!!!
Research Mornington Island, Austrailia. Where is it located in Austrailia and what animal do you think it looks like?

---

This data shows sea level height for 2011-2015 at Mornington Island, Australia ([source data](https://data.qld.gov.au/dataset/mornington-island-tide-gauge-archived-interval-recordings/resource/ef6dd15e-64b7-430c-9f97-371c4965414d)).